<div class="modal_header">
  <button class="close_btn" class="close_btn" (click)="cancel()">
    <ion-icon name="close-outline"></ion-icon> 
  </button>
</div>
<ion-content class="ion-padding">
  <div class="wrapper p-4">
    <div class="search">
      <input type="text" class="form-control">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <h5 class="m-0 font-600">For You</h5>
      <span>See all</span>
    </div>
    <div class="song-list">
      <img src="../../../assets/images/song-pic-1.jpeg" alt="" class="song-pic">
    </div>
  </div>
</ion-content>

