<div class="modal_header">
  <button class="close_btn" class="close_btn" (click)="cancel()">
    <ion-icon name="close-outline"></ion-icon> 
  </button>
</div>
<ion-content class="ion-padding text-modal">
  <div class="wrapper p-4 h-100">
    <div class="d-flex flex-column h-100">
      <div class="d-flex justify-content-center align-items-center">
        <div class="ms-auto d-flex gap-4">
          <img src="./assets/images/color-icon.png" alt="" width="20px" (click)="showColor()" >
          <img src="./assets/images/text-icon.png" alt="" width="20px" (click)="showText()">
          <img src="./assets/images/align-icon.png" alt="" width="20px">
        </div>
        <span class="btn-done ms-auto" (click)="getUserText()">Done</span>
      </div>
      <div class="my-auto">
        <input type="text" placeholder="Start typing" class="start-typing text-center" name="userText" [(ngModel)]="userText" [style.color]="textColor">
      </div>
      <div>
        <div class="d-flex gap-3" *ngIf="showColorDiv">
          <div class="color-circle" *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="changeTextColor(color)"></div>
        </div>
        <!-- <div class="d-flex gap-3" *ngIf="showColorDiv">
          <div class="color-circle" style="background: blue;"></div>
          <div class="color-circle" style="background: rgb(255, 0, 0);"></div>
          <div class="color-circle" style="background: rgb(0, 248, 54);"></div>
          <div class="color-circle" style="background: rgb(197, 0, 66);"></div>
          <div class="color-circle" style="background: rgb(223, 171, 3);"></div>
          <div class="color-circle" style="background: rgb(0, 0, 3);"></div>
          <div class="color-circle" style="background: rgb(3, 185, 185);"></div>
        </div> -->
        <div class="d-flex gap-3" *ngIf="showTextDiv">
          <div class="font-box" style="font-family: Georgia, 'Times New Roman', Times, serif;">Aa</div>
          <div class="font-box" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Aa</div>
          <div class="font-box" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Aa</div>
          <div class="font-box">Aa</div>
          <div class="font-box">Aa</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-content [fullscreen]="true" >
  <div class="modal_header">
    <h5 class="text-center">Create Story</h5>
    <button class="close_btn" (click)="cancel()">
      <ion-icon name="close-outline"></ion-icon> 
    </button>
  </div>
  <div class="row g-2">
    <div class="col-md-4">
      <img src="../../../assets/images/beautiful-young-woman-coat-with-bag-posing.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/beautiful-young-woman-coat-with-bag-posing.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/beautiful-young-woman-coat-with-bag-posing.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/beautiful-young-woman-coat-with-bag-posing.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/beautiful-young-woman-coat-with-bag-posing.jpg" alt="">
    </div>
  </div>
</ion-content> -->


<!-- <ion-modal [isOpen]="isModalOpen" class="view_post_modal" backdropDismiss="false"> 
  <ng-template>
    <div class="modal_header">
      <button class="close_btn" (click)="setOpen(false)">
        <ion-icon name="close-outline"></ion-icon> 
      </button>
    </div>
    <ion-content class="ion-padding">
      <img src="../../../../assets/images/features/extranet.jpg" alt="">
    </ion-content>
  </ng-template>
</ion-modal> -->