/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~bootstrap/dist/css/bootstrap.min.css";


ion-modal#emoji-modal {
    --width: 500px; 
    --height: 450px;

    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 1);
    .wrapper{
        overflow-y: scroll;
        margin-bottom: 10px;
    }
    h1 {
      margin: 20px 20px 10px 20px;
    }
    ion-icon {
      margin-right: 6px;
    
      width: 48px;
      height: 48px;
    
      padding: 4px 0;
    
      color: #aaaaaa;
    }
  }
  
  // ion-modal#emoji-modal h1 {
  //   margin: 20px 20px 10px 20px;
  // }
  
  // ion-modal#emoji-modal ion-icon {
  //   margin-right: 6px;
  
  //   width: 48px;
  //   height: 48px;
  
  //   padding: 4px 0;
  
  //   color: #aaaaaa;
  // }
  
  // ion-modal#emoji-modal .wrapper {
  //   margin-bottom: 10px;
  // }

  ion-modal#text-modal {
    --width: 500px;    
    --height: 450px;
    --min-height:450px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 1);
    --background: #806104;
    .wrapper{
        // overflow-y: scroll;
        margin-bottom: 10px;
    }
    h1 {
      margin: 20px 20px 10px 20px;
    }
    ion-icon {
      margin-right: 6px;
    
      width: 48px;
      height: 48px;
    
      padding: 4px 0;
    
      color: #aaaaaa;
    }
  }

  .modal_header{position: relative; padding: 10px 0; min-height: 30px;
    button{
        background: transparent;
    }
    .close_btn{position: absolute; right: 10px; top: 10px; font-size: 20px;}
}

.story-box{
  width: 25%;
  height: 150px;   
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  .icon-box{width: 40px; height: 40px; border-radius: 50%; background: #fff; 
      display: flex; align-items: center; justify-content: center; color: #000;
  }
}
.music-box{ 
  background: rgb(11,215,148);
  background: linear-gradient(0deg, rgba(11,215,148,1) 5%, rgba(13,73,190,1) 100%);
}
.text-box{ 
  background: rgb(215, 11, 154);
  background: linear-gradient(0deg, rgb(238, 19, 165) 5%, rgb(122, 2, 106) 100%);
}
.modal_header_inner{position: absolute; width: 100%; padding: 10px 0; min-height: 30px;z-index: 2;
  button{
      background: transparent;
  }
  .close_btn{position: absolute; left: 10px; top: 10px; font-size: 30px; color: #fff;}
}

.story-post{position: relative;}
.activities{position: absolute; right: 20px; color: #fff; padding-top: 40px;
  .activities-list{display: flex; justify-content: end; align-items: center; gap: 10px;}
}

.btn-done{background: rgba($color: #000000, $alpha: 0.5); color: #fff; padding: 3px 5px; border-radius: 5px;}
.start-typing{
  width: 100%; background: transparent; border: none; font-size: 30px; color: #fff;
  &:focus{border: none; outline: none;}
}

.color-circle{width: 20px; height: 20px; border-radius: 50%; border: 1px solid #fff;}
.font-box{background: rgba($color: #000000, $alpha: 0.5); color: #fff; padding: 3px 5px; border-radius: 5px;}



.text-modal{
  --background: #806104;
}

